<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>GAMES</title>

</head>

<body>
    <audio autoplay src="Top Gun Anthem Instrumental (SoundTrack).mp3"></audio>
    <div class="justify-content-center">
        <img src="./Media/TOPGUNLOGO.png" alt="topgunlogo" id="logo">
    </div>
    <div id="app">
        <div class="row d-flex justify-content-between">
            <div class="col-5 ">
                <div class="col-6 mb-5">
                    <form v-if="loggedPlayer ==null">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input v-model:value="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted"><b>We'll never share your email with
                                    anyone
                                    else.</b></small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input v-model:value="password" type="password" class="form-control" id="InputPassword1"
                                placeholder="Password">
                        </div>
                        <div>
                            <button onclick="login()" type="button" class="btn btn-primary">Login</button>
                            <button onclick="signUp()" type="button" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                    <div v-else>
                        <img id="avion" src="./Media/f14tomcat.png" onclick="logout()" type="button"></img>
                        <h3 class="">WELCOME!<br>{{loggedPlayer.userName}}</h3>
                    </div>
                </div>
                <table id="scoreTable" class="table table-sm table-dark text-white bg-dark">
                    <h3>SCORE TABLE!</h3>
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Total Score</th>
                            <th>Nº Wins</th>
                            <th>Nº Losses</th>
                            <th>Nº Ties</th>
                        </tr>
                        <tr v-for="score in scores">
                            <td>{{score.player}}</td>
                            <td>{{score.nTotal}}</td>
                            <td>{{score.nWins}}</td>
                            <div class="col-3 text-white bg-dark">
                                <td>{{score.nLoss}}</td>
                                <td>{{score.nTies}}</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-3 mr-1 text-white bg-dark">
                <h2>Current Games</h2>
                <a v-if="loggedPlayer != null" v-on:click="createGame"><button>Create New Game</button></a>
                <ol>
                    <li v-for="game in games">
                        {{game.created}}
                        <ul>
                            <li v-for="gamePlayer in game.gamePlayers">
                                {{gamePlayer.player.userName}}
                                <div v-if="loggedPlayer !=null && gamePlayer.player.userName ==loggedPlayer.userName"><a
                                        :href="'game.html?gp='+ gamePlayer.id"><button>Back
                                            to Game</button></a>
                                </div>
                                <div
                                    v-if="loggedPlayer !=null && loggedPlayer.userName != gamePlayer.player.userName && game.gamePlayers.length === 1">
                                    <button v-on:click="joinGame(game.id)">Join Game</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row col-9">

        </div>
    </div>
    <footer>

    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="js/game-table.js"></script>

</html>