body {
    background-image: url(../Media/uss.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    color: black;
}

#scoreTable {
    text-decoration-color: rgb(107, 158, 19);
}

#avion {
    width: 120px;
    height: 120px;
}

#logo {
    width: 50%;
    height: 160px;
    position: absolute;
    margin-top: 10px;
    right: 380px;
}

h2 {
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
}

.location {
    background-color: blue;
}

.salvoes {
    background-color: red;
}

.salvoes2 {
    background-color: green
}

/*ACA PEGO EL SET UP DEL GRID DE NAVES */
.grid-stack-item-content {
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    left: 0px !important;
    right: 0px !important;
}

.SubmarineHorizontal {
    background-image: url('submarinehor.png');
    background-size: contain;
}

.CarrierHorizontal {
    background-image: url('carrierhor.png');
    background-size: contain;
}

.PatrolBoatHorizontal {
    background-image: url('patrolboathor.png');
    background-size: contain;
}

.DestroyerHorizontal {
    background-image: url('destroyerhor.png');
    background-size: contain;
}

.BattleshipHorizontal {
    background-image: url('battleshiphor.png');
    background-size: cover;
}

.SubmarineVertical {
    background-image: url('submarinever.png');
    background-size: 100% 100%;
    width: 40px !important;
    left: 0px;
}

.CarrierVertical {
    background-image: url('carrierver.png');
    background-size: 100% 100%;
    width: 40px !important;
    left: 0px;
}

.PatrolBoatVertical {
    background-image: url('patrolboatver.png');
    background-size: 100% 100%;
    width: 40px !important;
    left: 0px;
}

.DestroyerVertical {
    background-image: url('destroyerver.png');
    background-size: 100% 100%;
    width: 40px !important;
    left: 0px;
}

.BattleshipVertical {
    background-image: url('battleshipver.png');
    background-size: 100% 100%;
    width: 40px !important;
    left: 0px;
}

#grid {
    height: 400px;

}

#grid-ships {
    width: 400px;
    height: 400px;
    padding-left: 36px;
    padding-top: 36px;
    background-image: url(grid-bkg.png);
    background-size: contain;
}