body {
    background-color: black;
    background-image: url(/uss.jpg);
}

h1 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}
h2 {
    text-decoration: underline;
}

.location {
    background-color: blue;
}

.salvoes {
    background-color: red;
}

.salvoes2 {
    background-color: green
}